# Logs
logs/
*.log

# Dependencies
node_modules/

# Coverage
.nyc_output/

# Project files
/src/
/examples/
/scripts/
.editorconfig
.gitignore
.markdownlint.json
.travis.yml
package-lock.json
tsconfig.json
tslint.json
package.json

# Build
dist/
*.tgz